body {
    font-family: sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1 px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
}

#filter-box {
    margin-top: 20px;
    width: 100%;
    padding: 8px;
    font-size: 1rem;
}
